extends _base

block styles
    link(href="/css/host.css" rel="stylesheet")

block navbar_content
    li.navlink(style="background-color:#0000ff")
        a
            .navlink-inner
                p Host
    li.navlink
        a(href="/profile") 
            .navlink-inner
                p Profile
    - if (user.role === 'admin' || user.role === 'owner')
        li.navlink
            a(href="/admin")
                .navlink-inner
                    p Admin
    li.navlink
        a#logout
            .navlink-inner
                p Logout

block modals
    include host/modals/endGameModal
    include host/modals/userInfoModal
    include host/modals/removeUserModal

block content
    #assigned-games
        h3.page-title Your assigned games
        table 
            thead
                tr 
                    th Title 
                    th Date
                    th Start
            tbody
                each game in data 
                    tr
                        td= game.title 
                        td= game.date.toDateString()
                        td 
                            button.start-button(data-id=`${game._id}`) Start
    #hosting-container.invisible-div
        button#remove-chat-button.invisible-div Remove Message
        #slideshow-outer.w-75.invisible-div
            .slideshow-container.w-100.ratio(style="--bs-aspect-ratio: 75%;")
                #timer.invisible-div 0:00
                #game-carousel.carousel.slide(data-bs-ride="carousel" data-bs-interval="false" data-bs-touch="false")
                    .carousel-inner#game-carousel-inner 
                    a.carousel-control-prev#slide-show-prev(type="button")
                        span.carousel-control-prev-icon(aria-hidden="true")
                        span.visually-hidden Previous
                    a.carousel-control-next#slide-show-next(type="button")
                        span.carousel-control-next-icon(aria-hidden="true")
                        span.visually-hidden Next
        #game-control-container
            ul.nav.nav-tabs.nav-fill#admin-tabs(role="tablist")
                li.nav-item(role="presentation")
                    button.nav-link.active#chat-tab(data-bs-toggle="tab" data-bs-target="#chat" type="button" role="tab" aria-controls="chat" aria-selected="true") Chat
                li.nav-item(role="presentation")
                    button.nav-link#grading-tab(data-bs-toggle="tab" data-bs-target="#grading" type="button" role="tab" aria-controls="grading" aria-selected="false") Teams/Grading
            .tab-content#host-tabs-content
                .tab-pane.fade.show.active#chat(role="tabpanel" aria-labelledby="user-tab")
                    .tab-wrapper 
                        .tab-inner
                            #game-wrapper 
                                #game-roster 
                                    p In this room:
                                    ul#game-roster-list
                                    button#end-game(data-bs-toggle="modal" data-bs-target="#end-game-modal") End Game
                                #game-chat-wrapper
                                    .chat-container
                                    .input-group
                                        input#chat-message.form-control(type="text" placeholder="Enter a message" aria-label="Enter a message" aria-describedby="send-chat")
                                        button.btn.btn-secondary#send-chat(type="button") Send
                 
                .tab-pane.fade#grading(role="tabpanel" aria-labelledby="user-tab")
                    .tab-wrapper 
                        .tab-inner
                            #grading-controls
                                select#round-selector
                                    - let i = 0
                                    - while (i<7)
                                        option(value=`${i+1}`)= `Round ${i+1}`
                                        - i++
                                select#mode-selector
                                    option(value="grading") Grading
                                    option(value="adjust") Results/Adjustments
                            .grading-container
                                include host/gradingContainer
                    
block scripts 
    script(src="/socket.io/socket.io.js")
    script(src="/js/host.js" type='module')
    script(src="/js/utils/menu.js" type="module")
