mixin videoLink(roundNo)
    .video-container
        .input-label Post-round video
        input(type="text" round=`${roundNo}`)
        .input-label Preview: 
        iframe.video-preview(width="320" height="240" src="" round=`${roundNo}`)


mixin generalRound(roundNo,questions,bonus)
    .round-container(round=`${roundNo}`)
        h5= `Round ${roundNo} - General` 
        h6 Use **two asterisks** for #[span(style="font-weight:bold;") bold text]
        .input-container
            .input-label Description
            textarea.round-desc.warning(rows="4" columns="40" round=`${roundNo}`)
        hr
        - var i = 1
        while i <= questions
            .question-container(round=`${roundNo}` question=`${i}`)
                .question-label= `Question ${i}:`
                textarea.warning.question-text(rows="3" columns="40" round=`${roundNo}` question=`${i}`)
                .question-container-bottom
                    .input-container
                        .input-label= `Answer:`
                        input.warning.question-answer(type='text' round=`${roundNo}` question=`${i}`)
                    .input-container
                        .question-label= `Point Value:`
                        input.warning.question-value(type="number" round=`${roundNo}` question=`${i}` min='1')
                .control-button-container
                    div
                        button.move-question(direction="up" round=`${roundNo}` question=`${i}` ) Up
                        button.move-question(direction="down" round=`${roundNo}` question=`${i}`) Down 
                        button.clear-question(round=`${roundNo}` question=`${i}`) Clear
            hr
            - ++i
        - if (bonus)
            .question-container(round=`${roundNo}` question=`${i}`)
                .question-label= `Round ${roundNo} bonus question:`
                textarea.warning.question-text(rows="3" columns="40" round=`${roundNo}` question=`${questions+1}`)
                .question-container-bottom
                    .input-container
                        .input-label= `Answer:`
                        input.warning.question-answer(type='text' round=`${roundNo}` question=`${questions+1}`)
                    .input-container
                        .input-label= `Max Wager:`
                        input.warning.question-value(type="number" round=`${roundNo}` question=`${questions+1}` min='1')
        hr
        +videoLink(roundNo)

mixin pictureRound(roundNo)
    .round-container(round=`${roundNo}`)
        h5= `Round ${roundNo} - Pictures`
        h6 Use **two asterisks** for #[span(style="font-weight:bold;") bold text]
        .input-container
            .input-label Description
            textarea.warning.round-desc(rows="2" columns="40" round=`${roundNo}`)
        .input-container
            .input-label Points per correct 
            input.warning.points-per-correct(type="number" round=`${roundNo}` min="1")
        #picture-round-questions
            //- - var i = 1
            //- while i <= 10
                //- .question-container(round=`${roundNo}` question=`${i}`)
                //-     .picture-question-container
                //-         .question-container.picture-container
                //-             .question-label= `Picture ${i}`
                //-             img(src='/img/money.svg')
                //-         .question-container.picture-answer 
                //-             .question-label Answer 
                //-             input.picture-answer(round=`${roundNo}` question=`${i}`)
                //-         .question-container.picture-actions
                //-             .question-label Actions
                //-             .control-button-container
                //-                 div
                //-                     button.move-question(direction="up" round=`${roundNo}` question=`${i}` ) Up
                //-                     button.move-question(direction="down" round=`${roundNo}` question=`${i}` ) Down
                //-                     button.delete-question(round=`${roundNo}` question=`${i}` ) Delete
                //- - ++i
        .input-container.warning#image-upload-container
            .question-container-bottom
                form#image-upload-form
                    label.image-upload-label(for="image-upload") Upload Pictures
                    input.image-upload#image-upload(type="file" accept="image/*" multiple)
                label.image-upload-label(for="image-link" data-bs-toggle="modal" data-bs-target="#image-link-modal") Add from URL
                button.image-upload#image-link(data-bs-toggle='modal' data-bs-target="#image-link-modal")
        hr
        +videoLink(roundNo)

mixin wildcard(roundNo)
    .round-container(round=`${roundNo}`)
        h5= `Round ${roundNo} - Wildcard`
        h6 Use **two asterisks** for #[span(style="font-weight:bold;") bold text]
        .input-container
            .input-label Description
            textarea.warning.round-desc(rows="2" columns="40" round=`${roundNo}`)
            .input-label Round Format
            .input-group.mb-3
                .form-check.form-check-inline
                    label.form-check-label(for="wc-list") List
                    input.form-check-input#wc-list(type="radio" name="wc-format" value="list" checked)
                .form-check.form-check-inline
                    label.form-check-label(for="wc-match") Matching
                    input.form-check-input#wc-match(type="radio" name="wc-format" value="matching")
                .form-check.form-check-inline
                    label.form-check-label(for="wc-questions") Questions
                    input.form-check-input#wc-questions(type="radio" name="wc-format" value="questions")
        .input-container
            .input-label Points per correct 
            input.warning.points-per-correct(type="number" round=`${roundNo}` min="1")
        .input-container.wc-settings#list-settings
            .input-label Possible Answers (one per line)
            textarea.warning#wc-list-answers(rows="10" columns="40" round=`${roundNo}`)
            .input-label Answer count (no more than number of possible answers)
            input.warning#wc-list-count(type="number" round=`${roundNo}` min='1')
        .input-container.wc-settings.invisible-div#matching-settings 
            .matching-answer-container.warning
                .input-label Matching pairs:
                p.no-pairs (None)
            .question-container-bottom
                .input-container
                    .input-label Prompt
                    input#matching-prompt(type='text' round=`${roundNo}`)
                .input-container
                    .input-label Answer
                    input#matching-answer(type='text' round=`${roundNo}`)
                div.ms-3
                    .input-label Add
                    button#add-matching-answer.btn-close.add-button
            .input-label Extra answer bank
            textarea#wc-matching-bank(rows="5" columns="40" round=`${roundNo}`)
        .input-container.wc-settings.invisible-div#questions-settings 
            - var i = 1
            while i <= 10
                .question-container(round=`${roundNo}` question=`${i}`)
                    .question-label= `Question ${i}:`
                    textarea.warning.question-text(rows="3" columns="40" round=`${roundNo}` question=`${i}`)
                    .question-container-bottom
                        .input-container
                            .input-label= `Answer:`
                            input.warning.question-answer(type='text' round=`${roundNo}` question=`${i}`)
                    .control-button-container
                        div
                            button.move-question(direction="up" round=`${roundNo}` question=`${i}` ) Up
                            button.move-question(direction="down" round=`${roundNo}` question=`${i}`) Down 
                            button.clear-question(round=`${roundNo}` question=`${i}`) Clear
                hr
                - ++i
        +videoLink(roundNo)
        


mixin audioRound(roundNo)
    .round-container
        h5= `Round ${roundNo} - Audio`
        h6 Use **two asterisks** for #[span(style="font-weight:bold;") bold text]
        .input-container(round=`${roundNo}`)
            .input-label Description
            textarea.warning.round-desc(rows="2" columns="40" round=`${roundNo}`)
            .input-label Video Link 
            input.warning.video-link(type='text' round=`${roundNo}`)
            #video-preview-container.question-container.invisible-div
                .input-label Preview: 
                iframe#video-preview(width="320" height="240" src="")
            .input-label Answers (each on new line; do not include theme)
            textarea.warning.round-answers(rows="10" columns="40" round=`${roundNo}`)
            .question-container-bottom
                .input-container
                    .input-label Points per correct
                    input.warning.points-per-correct(type='number' round=`${roundNo}` min='1')
            .question-container-bottom
                .input-container
                    .question-label Theme (optional)
                    input.bonus-answer#audio-theme(type='text' round=`${roundNo}`)
                .input-container
                    .question-label Theme points
                    input.bonus-value#audio-bonus-value(type='number' round=`${roundNo}`)
        +videoLink(roundNo)
       
        
            